# Python gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# dotenv
.env

# Pytest
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
